<section class="cart_items mt-5">
<div class="row">
<div class="col-md-4">
</div>
<div class="col-md-8">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
   <% @order.order_items.each do |item| %>
  <tr id="product<%= item.id %>">
  <td>#</td>
  <% if item.product.main_image.attached? %>
  <td style="width:20px"><%= image_tag item.product.main_image, class: "img img-thumbnail" %></td>
  <% else %>
  <td><p>No image</p></td>
  <% end %>

  <td><%= item.product.name %></td>
  <td><%= item.quantity %></td>

  <td id="product_price<%= item.id %>"><%= number_to_currency(item.product.price) %></td>

  </tr>
  <% end %>
  <tr>
  <td>Order Amount</td>
  <td>Discount</td>
  </tr>
  <tr>
  <td><%= number_to_currency(@order.amount+@order.discount ) %></td>
  <td><%= number_to_currency(@order.discount) %></td>
  </tr>


  <tr>
  <td>Total Amount</td>
  </tr>
  <tr>
  <td><%= number_to_currency(@order.amount) %></td>

  </tr>
  </tbody>
</table>


<% if @order.status == 'draft' || @order.status == 'pending' %>

  <% if @order.discount <= 0 %>
    <%= form_with url:  apply_coupon_path(), method: :post do |form| %>
    <div class="form-group">
    <input type="text" class="form-control" placeholder="Coupon" name="code">
    <input type="hidden" name="order_id" value="<%= @order.order_id %>" />
    <input type="submit" class="btn btn-success mt-1" value="Apply Coupon">
    </div>
    <% end %>
  <% end %>


<%= form_tag charges_path do %>
<article>
  <% if flash[:error].present? %>
  <div id="error_explanation">
    <p><%= flash[:error] %></p>
  </div>
  <% end %>
  <label class="amount">
  <span>Amount: $<%= @order.amount %></span>
  </label>
  <div class="col-md-4">

  </div>
</article>
<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
  data-description="A month's subscription"
  data-amount ="<%= @order.amount*100 %>"
  data-locale="auto"></script>
<% end %>
<% end %>
</div>
</div>

</section>
